# @see https://github.com/szepeviktor/phpstan-wordpress/blob/master/example/phpstan.neon.dist
includes:
  # @see https://github.com/phpstan/phpstan-src/blob/master/conf/bleedingEdge.neon
  - phar://phpstan.phar/conf/bleedingEdge.neon
parameters:
  level: max
  inferPrivatePropertyTypeFromConstructor: true
  paths:
    - includes/
    - test/
  excludes_analyse:
    - test/wp-mock.php
  ignoreErrors:
    # Carbon Fields
    - '#^Access to property \$(hide|add|populate) on an unknown class PostTypes\\PostTypes\\Columns\.$#'
    - '#^Call to method (hide|add|populate)\(\) on an unknown class PostTypes\\PostTypes\\Columns\.$#'
    - '#^Call to an undefined method Carbon_Fields\\#'
    - '#carbon_(get|set)_post_meta not found\.$#'
